@model LinkShortener.Models.Link
@{
    ViewData["Title"] = "Home Page";
}

@using Microsoft.AspNetCore.Mvc.Localization

@inject IViewLocalizer Localizer

@using LinkShortener.Models
@using Microsoft.Extensions.Options

@inject IOptionsMonitor<AppOptions> Options

<form id="formFullUrl" method="post" novalidate="novalidate">
    <div class="row m-2 mb-1 d-none d-sm-flex">
        <div class="col-md-12 matthead d-flex align-items-center justify-content-end">
            <div class="float-right bg-white p-1 pt-0 media-icons">
                <a class="p-1" href="#"><img class="media-icon" src="~/images/mediaicons/facebook.png" /></a>
                <a class="p-1" href="#"><img class="media-icon" src="~/images/mediaicons/instagram.png" /></a>
                <a class="p-1" href="#"><img class="media-icon" src="~/images/mediaicons/twitter.png" /></a>
            </div>
            <div class="w-50 d-block float-right">
                <div class="input-group ">

                    <input type="text" id="fullUrl" placeholder="Url" asp-for="FullUrl" class="form-control" />
                    <div class="input-group-append">
                        <button type="button" class="btn btn-primary btnShort">@Localizer["Shorten"]</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="jumbotron d-sm-none">
        <div class="input-group">
            <input type="text" id="fullUrl2" placeholder="Url" asp-for="FullUrl" class="form-control" />
            <div class="input-group-append">
                <button type="button" class="btn btn-primary btnShort">@Localizer["Shorten"]</button>
            </div>
        </div>
    </div>
    <span asp-validation-for="FullUrl" class="text-danger"></span>
</form>
<hr />

<div class="card-deck card-main-deck mx-auto my-1 mb-5">

    <div class="card border-primary shadow h-100 mx-4">

        <img class="card-img-top card-main-img justify-content-center align-self-center my-2" src="~/images/shortenLink.svg" />
        <div class="card-footer bg-gradient-primary">
            <h5 class="card-title text-center text-white">@Localizer["Shorten links"]</h5>
        </div>
    </div>

    <div class="card border-primary shadow h-100 mx-4">

        <img class="card-img-top card-main-img justify-content-center align-self-center my-2" src="~/images/earnMoney.svg" />
        <div class="card-footer bg-gradient-primary">
            <h5 class="card-title text-center text-white">@Localizer["Earn money"]</h5>
        </div>
    </div>

    <div class="card border-primary shadow h-100 mx-4">

        <img class="card-img-top card-main-img justify-content-center align-self-center my-2" src="~/images/trackLinks.svg" />
        <div class="card-footer bg-gradient-primary">

            <h5 class="card-title text-center text-white">@Localizer["Track links"]</h5>
        </div>
    </div>

</div>

<hr />

<div class="row">
    <div id="aboutUs" class="offset-xl-3 col-xl-6 offset-sm-2 col-sm-8 offset-1 col-10 text-center">
        <h2>@Localizer["About us"]</h2>
        <p>
            @Localizer["About us-a"]
        </p>
    </div>
</div>
<hr />
<div class="row">

    <div class="offset-xl-2 col-xl-8 offset-md-1 col-sm-10 offset-1 col-10 text-center">
        <h2>@Localizer["Why join us?"]</h2>
        <p>
            These are the reasons why you should to prefer our site to our competitors in industry.
        </p>
        <div class="card-deck mx-auto">
            <div class="card border-primary shadow" style="border-width:2px;">
                <img src="~/images/others/logo.png" class="card-img-top mt-3 w-75 justify-content-center align-self-center" alt="...">
                <div class="card-body">
                    <ul class="list-group my-2">
                        <li class="list-group-item list-group-item-primary">
                            <img class="yn align-middle" src="~/images/others/yes.svg" />Referral bonus
                        </li>
                        <li class="list-group-item list-group-item-primary">
                            <img class="yn align-middle" src="~/images/others/yes.svg" /> Advanced stats for each link
                        </li>
                        <li class="list-group-item list-group-item-primary">
                            <img class="yn align-middle" src="~/images/others/yes.svg" />No banning
                        </li>
                    </ul>
                </div>
            </div>
            <div class="card border-secondary" style="border-width:2px;">
                <img src="~/images/others/competitor.png" class="card-img-top mt-3 w-75 justify-content-center align-self-center" alt="Our competitor">
                <div class="card-body">
                    <ul class="list-group my-2">
                        <li class="list-group-item list-group-item-primary">
                            <img class="yn align-middle" src="~/images/others/no.svg" />Referral bonus
                        </li>
                        <li class="list-group-item  list-group-item-primary">
                            <img class="yn align-middle" src="~/images/others/no.svg" /> Advanced stats for each link
                        </li>
                        <li class="list-group-item  list-group-item-primary">
                            <img class="yn align-middle" src="~/images/others/no.svg" />No banning
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <hr />
        <h3 class="mt-4 mb-2">Referral bonus</h3>
        <p>
            <strong>Referral bonus</strong> is a bonus money you earn and will earn when you invite others to our site. @Options.CurrentValue.ReferralPercentage % of the amount of the money earned by users who registered through your referral link is added to your earnings. You can find your referral link in <a asp-area="Dashboard" asp-controller="Home" asp-action="Index" asp-fragment="links">"Links" section of your "Dashboard"</a>. <br /><em>The more people you invite, the more you earn!</em>
        </p>
        <h3 class="mt-4 mb-2">Advanced stats for each link</h3>
        <p>
            <strong>Advanced stats for each link</strong> includes graphs of the number of impressions in an hour, a day, a week, a month and a year. You can see these stats in your <a asp-area="Dashboard" asp-controller="Home" asp-action="Index">Dashboard</a>.
        </p>
        <h3 class="mt-4 mb-2">No banning</h3>
        <p>
            <strong>No banning</strong> unless you are trying to use bots or increase your earnings with other strategies other than sharing your links to people.
        </p>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script src="~/js/CreateLink.js"></script>
}
 