@model IEnumerable<LinkShortener.Models.PayoutRequest>

@using Microsoft.AspNetCore.Mvc.Localization

@inject IViewLocalizer Localizer

@{
    ViewData["Title"] = @Localizer["Payouts"];
}

<h1>@Localizer["Payouts"]</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Money)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Owner)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Paid)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Money)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Owner.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Paid)
                </td>
            </tr>
        }
    </tbody>
</table>
